<% if @lead.status === "New" %>
      <p>Status: <span class= "status-tag new-tag"><%= @lead.status %></span></p>
    <% elsif @lead.status === "Going"%>
      <p>Status: <span class= "status-tag going-tag"><%= @lead.status %></span></p>
    <% elsif @lead.status === "Lost"%>
      <p>Status: <span class= "status-tag lost-tag"><%= @lead.status %></span></p>
    <% elsif @lead.status === "Won"%>
      <p>Status: <span class= "status-tag won-tag"><%= @lead.status %></span></p>
<% end %>
