<div class="container mt-3">
  <div class="main-container">
    <h1>New Order</h1>
    <%= simple_form_for [@lead, @order] do |f| %>
      <%= f.input :status, collection: [ "New", "In-Process", "completed" ] %>
      <%= f.button :submit, class: "btn btn-flat" %>
      <%= link_to "Cancel", lead_path(@lead), class: "btn btn-flat"%>
    <% end %>
  </div>
</div>
