<div class="main-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="container">
      <h1><strong>Scalpel_CRM</strong> Business intelligence</h1>
      <p>Customer relationship management application for entrepreneurs</p>
      <% unless user_signed_in?%>
        <%= link_to "Sign Up", new_user_registration_path ,class: "btn btn-flat"  %>
      <% end %>
    </div>
  </div>
</div>
