.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #476ff1;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #3550aa;
  color: white;
}

.btn-flat-small {
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  background: #476ff1;
  transition: background 0.3s ease;
  font-size: small;
}

.btn-flat-small:hover {
  background: #3550aa;
  color: white;
}
