.navbar-lewagon {
  justify-content: space-between;
  background: #145cc9;
  height: 30px;
  color: white;
  // position: sticky;
  // top: 0;
  // z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar-dashboard {
  height: 100vh;
  position: sticky;
  top: 0;
}

.nav-bar-dashboard a:link {
  text-decoration: none !important;
  color: white;
}

.side-menu-item {
  font-size:xx-large;
}
