.status-tag {
font-weight: bolder;
// background-color: black;
color: white;
font-size: smaller;
padding: 6px;
border-radius: 35%;
}

.new-tag {
  background-color: #000000 ;
}

.going-tag {
  background-color: #50C878 ;
}

.lost-tag {
  background-color: #FF5733 ;
}

.won-tag {
  background-color: #145cc9 ;
}

.time-stamp {
  font-size: smaller;
  color: rgba(109, 109, 109, 0.493);
}
